
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.ipynb_checkpoints/

# Envs
.venv/
.conda/
env/
venv/

# Data & reports
data/
figures/
*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

!benchmark/**
